/* fonts */


.hero{
    display: flex;
    align-items: center;
    gap: 32px;
}

.hero, .text-content, .hero figure{
    flex: 1;
    padding: 0;
}




@media (max-width: 768px){
    .hero{
        flex-direction: column;
    }
}